<section class="menu" id="menu">
  <div class="container">
    <h2 class="menu__title">МЕНЮ РЕСТОРАНУ</h2>
    <div class="menu__main-wrapper">
      <!-- обгортка лівої колонки меню -->
      <div class="menu__left-colomn">
        <!-- список гарячих страв -->
        <ul class="dishes__list">
          <h3 class="menu__caption">Гарячі страви</h3>

          <li class="dishes__item">
            <div class="name-dishes__wrapper">
              <h4 class="name-dishes">Борщ з телятини з квасолею</h4>
              <p class="ingridients">
                Телятина, картопля, капуста, морква, цибуля, квасоля, часник,
                помідори, зелень, сметана
              </p>
            </div>
            <div class="weight-price__wrapper">
              <p class="weight">400 г</p>
              <p class="price">240 грн</p>
            </div>
          </li>

          <li class="dishes__item">
            <div class="name-dishes__wrapper">
              <h4 class="name-dishes">Суп сирний з куркою</h4>
              <p class="ingridients">
                Курятина, картопля, морква, цибуля, печериці, сир м’який, зелень
              </p>
            </div>
            <div class="weight-price__wrapper">
              <p class="weight">400 г</p>
              <p class="price">200 грн</p>
            </div>
          </li>

          <li class="dishes__item">
            <div class="name-dishes__wrapper">
              <h4 class="name-dishes">Паста карбонара</h4>
              <p class="ingridients">
                Паста тальятеле, бекон, вершки, сир пармезан, яйце, зелень
              </p>
            </div>
            <div class="weight-price__wrapper">
              <p class="weight">350 г</p>
              <p class="price">430 грн</p>
            </div>
          </li>

          <li class="dishes__item">
            <div class="name-dishes__wrapper">
              <h4 class="name-dishes">Стейк зі свинини</h4>
              <p class="ingridients">
                Свиняча вирізка, спеціі, подається з соусом солодкий чилі та
                овочами
              </p>
            </div>
            <div class="weight-price__wrapper">
              <p class="weight">400 г</p>
              <p class="price">500 грн</p>
            </div>
          </li>

          <li class="dishes__item">
            <div class="name-dishes__wrapper">
              <h4 class="name-dishes">Горбуша в соусі з білого вина</h4>
              <p class="ingridients">
                Ніжна горбуша, вершковий соус на основі білого вина
              </p>
            </div>
            <div class="weight-price__wrapper">
              <p class="weight">400 г</p>
              <p class="price">400 грн</p>
            </div>
          </li>
        </ul>

        <!-- список гарнірів та закусок -->
        <ul class="dishes__list">
          <h3 class="menu__caption">Гарніри та закуски</h3>

          <li class="dishes__item">
            <div class="name-dishes__wrapper">
              <h4 class="name-dishes">Запечені овочі</h4>
              <p class="ingridients">Кабачок, перець, помідор, баклажан</p>
            </div>
            <div class="weight-price__wrapper">
              <p class="weight">200 г</p>
              <p class="price">230 грн</p>
            </div>
          </li>

          <li class="dishes__item">
            <div class="name-dishes__wrapper">
              <h4 class="name-dishes">Картопля фрі</h4>
              <p class="ingridients">Картопля, соус томатний</p>
            </div>
            <div class="weight-price__wrapper">
              <p class="weight">150 г</p>
              <p class="price">160 грн</p>
            </div>
          </li>

          <li class="dishes__item">
            <div class="name-dishes__wrapper">
              <h4 class="name-dishes">Картопля по-селянськи</h4>
              <p class="ingridients">Картопля, спеції, соус пікантний</p>
            </div>
            <div class="weight-price__wrapper">
              <p class="weight">150 г</p>
              <p class="price">160 грн</p>
            </div>
          </li>

          <li class="dishes__item">
            <div class="name-dishes__wrapper">
              <h4 class="name-dishes">Хрумкі соління з бочки</h4>
              <p class="ingridients">
                Огірок солений, помідор квашений, квашена капуста, морква
                по-корейськіи
              </p>
            </div>
            <div class="weight-price__wrapper">
              <p class="weight">250 г</p>
              <p class="price">350 грн</p>
            </div>
          </li>

          <li class="dishes__item">
            <div class="name-dishes__wrapper">
              <h4 class="name-dishes">Крильця курячі в медовому соусі</h4>
              <p class="ingridients">
                Крильця курячі, гірчично-медовий соус, подається з морквою,
                селерою і соусом блючиз
              </p>
            </div>
            <div class="weight-price__wrapper">
              <p class="weight">400 г</p>
              <p class="price">420 грн</p>
            </div>
          </li>
        </ul>
      </div>

      <!-- обгортка правої колонки меню -->
      <div class="menu__right-colomn">
        <!-- список салатів -->
        <ul class="dishes__list">
          <h3 class="menu__caption">Салати</h3>

          <li class="dishes__item">
            <div class="name-dishes__wrapper">
              <h4 class="name-dishes">Цезар з куркою</h4>
              <p class="ingridients">
                Куряче філе, листя салату, помідори чері, сир пармезан, грінки,
                соус цезар
              </p>
            </div>
            <div class="weight-price__wrapper">
              <p class="weight">230 г</p>
              <p class="price">450 грн</p>
            </div>
          </li>

          <li class="dishes__item">
            <div class="name-dishes__wrapper">
              <h4 class="name-dishes">Цезар з креветками</h4>
              <p class="ingridients">
                Тигрові креветки, листя салату, помідори чері, сир пармезан,
                грінки, соус цезар
              </p>
            </div>
            <div class="weight-price__wrapper">
              <p class="weight">230 г</p>
              <p class="price">300 грн</p>
            </div>
          </li>

          <li class="dishes__item">
            <div class="name-dishes__wrapper">
              <h4 class="name-dishes">Грецький салат</h4>
              <p class="ingridients">
                Свіжі огірок, помідор, болгарський перець, оливки, сир бринза,
                листя салату, соус
              </p>
            </div>
            <div class="weight-price__wrapper">
              <p class="weight">230 г</p>
              <p class="price">280 грн</p>
            </div>
          </li>

          <li class="dishes__item">
            <div class="name-dishes__wrapper">
              <h4 class="name-dishes">М’ясний салат</h4>
              <p class="ingridients">
                Куряче філе або свиняча вирізка, свіжі огірок, помідор,
                болгарський перець, соус ранчи
              </p>
            </div>
            <div class="weight-price__wrapper">
              <p class="weight">230 г</p>
              <p class="price">300 грн</p>
            </div>
          </li>
        </ul>

        <!-- список десертів -->
        <ul class="dishes__list">
          <h3 class="menu__caption">Десерти</h3>

          <li class="dishes__item">
            <h4 class="name-dishes">Торт наполеон</h4>
            <div class="weight-price__wrapper">
              <p class="weight">230 г</p>
              <p class="price">300 грн</p>
            </div>
          </li>

          <li class="dishes__item">
            <h4 class="name-dishes">Торт маковий</h4>
            <div class="weight-price__wrapper">
              <p class="weight">230 г</p>
              <p class="price">300 грн</p>
            </div>
          </li>

          <li class="dishes__item">
            <h4 class="name-dishes">Тірамісу</h4>
            <div class="weight-price__wrapper">
              <p class="weight">120 г</p>
              <p class="price">260 грн</p>
            </div>
          </li>
        </ul>

        <!-- список напоїв -->
        <ul class="dishes__list">
          <h3 class="menu__caption">Напої</h3>

          <li class="dishes__item">
            <h4 class="name-dishes">Чай чорний/зелений</h4>
            <div class="weight-price__wrapper">
              <p class="weight">500 мл</p>
              <p class="price">100 грн</p>
            </div>
          </li>

          <li class="dishes__item">
            <h4 class="name-dishes">Еспресо</h4>
            <div class="weight-price__wrapper">
              <p class="weight">30 мл</p>
              <p class="price">100 грн</p>
            </div>
          </li>

          <li class="dishes__item">
            <h4 class="name-dishes">Американо</h4>
            <div class="weight-price__wrapper">
              <p class="weight">150 мл</p>
              <p class="price">100 грн</p>
            </div>
          </li>

          <li class="dishes__item">
            <h4 class="name-dishes">Капучино</h4>
            <div class="weight-price__wrapper">
              <p class="weight">200 мл</p>
              <p class="price">160 грн</p>
            </div>
          </li>

          <li class="dishes__item">
            <h4 class="name-dishes">Лате</h4>
            <div class="weight-price__wrapper">
              <p class="weight">200 мл</p>
              <p class="price">160 грн</p>
            </div>
          </li>
        </ul>
      </div>
    </div>

    <button
      class="button-menu btn-black js-open-modal"
      type="button"
      aria-label="Кнопка бронювання столику"
      data-modal="1"
    >
      Забронювати столик
    </button>
  </div>
</section>
