// шрифти
$font-main: 'Montserrat', sans-serif;
$font-secondary: 'TimesNewRoman', serif;
$font-logo: 'FilmP3', sans-serif;

// фонові кольори
$main-background: #fffdee;
// $secondary-background: #f0ecd6;
// $header-background: rgba(0, 0, 0, 0.65);
// $footer-background: #0e0c07;

// Кольри для компонентів кнопок
$color-btn: rgba(0, 0, 0, 0.4);
$color-text-btn: #f3c653;

// кубік та таймінг для анімації
$transition-slow: 750ms cubic-bezier(0.4, 0, 0.2, 1);
$transition-fast: 250ms cubic-bezier(0.4, 0, 0.2, 1);

// кольори для тексту
$fonts-color-ffffff: #ffffff;
$fonts-color-c79002: #c79002;
$fonts-color-f3c653: #f3c653;
// $accent-text-color: #5f5f5f;
// $title-text-color: #494848;
// $maps-text-color: #e5e5e5;
// $text-color-gray: #808080;

:root {
  // напівпрозорі фони для секцій
  $home-hero-background: rgba(0, 0, 0, 0.65);
  $restaurant-background: rgba(0, 0, 0, 0.76);
  $hotel-background: rgba(0, 0, 0, 0.7);

  // Кольри для компонентів кнопок
  $color-btn: rgba(0, 0, 0, 0.4);
  $color-text-btn: #f3c653;
}
