@import '~node_modules/modern-normalize/modern-normalize.css';
.footer__logo, .header__phone, .header__nav-link, .header__logo {
  text-decoration: none;
}

.header__social-list {
  list-style: none;
}

@font-face {
  font-family: "FilmP3";
  src: url("../fonts/FilmP3-Bold-700.woff"), url("../fonts/FilmP3-Bold-700.ttf");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Light-300.woff"), url("../fonts/Montserrat-Light-300.ttf");
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Regular-400.woff"), url("../fonts/Montserrat-Regular-400.ttf");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Medium-500.woff"), url("../fonts/Montserrat-Medium-500.ttf");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-SemiBold-600.woff"), url("../fonts/Montserrat-SemiBold-600.ttf");
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Bold-700.ttf"), url("../fonts/Montserrat-Bold-700.ttf");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "TimesNewRoman";
  src: url("../fonts/TimesNewRoman-Regular-400.woff"), url("../fonts/TimesNewRoman-Regular-400.ttf");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "TimesNewRoman";
  src: url("../fonts/TimesNewRoman-Bold-700.woff"), url("../fonts/TimesNewRoman-Bold-700.ttf");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
body {
  font-family: "Montserrat", sans-serif;
  background-color: #fffdee;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
p,
ul {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  padding-left: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.hiden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  max-width: 414px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  outline: 1px solid red;
}
@media screen and (min-width: 1024px) {
  .container {
    max-width: 1024px;
    padding-left: 47px;
    padding-right: 47px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
    padding-left: 85px;
    padding-right: 85px;
  }
}

.social-icon {
  fill: #f3c653;
}
.social-icon:hover, .social-icon:focus, .social-icon:active {
  fill: #c79002;
}

.header {
  position: fixed;
  z-index: 100;
  width: 100%;
  -webkit-backdrop-filter: blur(0.8px);
          backdrop-filter: blur(0.8px);
  background: linear-gradient(180deg, #000000 10%, rgba(0, 0, 0, 0.55) 70.3%, rgba(0, 0, 0, 0) 100%);
}
.header__container {
  display: flex;
  align-items: center;
  padding-top: 16px;
  padding-bottom: 16px;
}
@media screen and (min-width: 1024px) {
  .header__container {
    padding-top: 24px;
    padding-bottom: 33px;
  }
}

.header__logo {
  font-family: "FilmP3", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.0833333333;
  letter-spacing: 0.3em;
  color: #ffffff;
  padding-right: 0;
  margin-right: 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 1024px) {
  .header__logo {
    font-size: 40px;
    line-height: 1.075;
  }
}
.header__logo:hover, .header__logo:focus, .header__logo:active {
  color: #f3c653;
}

.header__nav {
  margin-left: auto;
}
@media screen and (min-width: 1280px) {
  .header__nav {
    margin-right: auto;
  }
}

.header__nav-list {
  display: flex;
}
@media screen and (max-width: 370px) {
  .header__nav-list {
    flex-direction: column;
    align-items: flex-end;
  }
}
.header__nav-list .header__nav-item {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 370px) {
  .header__nav-list .header__nav-item:first-child {
    margin-bottom: 8px;
    margin-right: 0;
  }
}
@media screen and (min-width: 371px) {
  .header__nav-list .header__nav-item:first-child {
    margin-right: 20px;
  }
}
@media screen and (min-width: 1024px) {
  .header__nav-list .header__nav-item:first-child {
    margin-right: 72px;
  }
}

.header__nav-link {
  margin-right: 6px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.02em;
  color: #f3c653;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 1024px) {
  .header__nav-link {
    margin-right: 32px;
    font-size: 20px;
    line-height: 1.2;
  }
}
.header__nav-link:hover, .header__nav-link:focus, .header__nav-link:active {
  color: #c79002;
}

.header__phone {
  display: flex;
  align-items: center;
  padding: 0;
  fill: #f3c653;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 1024px) {
  .header__phone {
    padding: 8px;
    border: 1px solid rgba(243, 198, 83, 0.7);
    border-radius: 2px;
  }
}
@media screen and (max-width: 1023px) {
  .header__phone .phone-number {
    display: none;
  }
}
@media screen and (min-width: 1024px) {
  .header__phone .phone-number {
    margin-left: 8px;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.2142857143;
    align-items: center;
    letter-spacing: 0.02em;
    color: #ffffff;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
.header__phone:hover, .header__phone:focus, .header__phone:active {
  fill: #c79002;
  border-color: #c79002;
}
.header__phone:hover .phone-number, .header__phone:focus .phone-number, .header__phone:active .phone-number {
  color: #f3c653;
}

@media screen and (max-width: 1279px) {
  .header__social-list {
    display: none;
  }
}
@media screen and (min-width: 1280px) {
  .header__social-list {
    display: flex;
    align-items: center;
    gap: 20px;
  }
}

.footer {
  background-color: #0e0c07;
}
.footer__container {
  display: flex;
  align-items: center;
  -moz-column-gap: 85px;
       column-gap: 85px;
  padding-top: 40px;
  padding-bottom: 40px;
}
@media screen and (max-width: 370px) {
  .footer {
    -moz-column-gap: 0;
         column-gap: 0;
  }
}
@media screen and (min-width: 1024px) {
  .footer {
    -moz-column-gap: 163px;
         column-gap: 163px;
    padding-top: 80px;
    padding-bottom: 80px;
  }
}
@media screen and (min-width: 1280px) {
  .footer {
    -moz-column-gap: 231px;
         column-gap: 231px;
  }
}

.footer__logo {
  height: 43px;
  font-family: "FilmP3", sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 1.078125;
  letter-spacing: 0.3em;
  color: #f3c653;
  transition: color var(--transition-fast);
}
@media screen and (max-width: 370px) {
  .footer__logo {
    margin-right: auto;
    margin-left: 0;
  }
}
@media screen and (min-width: 1024px) {
  .footer__logo {
    height: 69px;
    font-size: 64px;
    line-height: 1.07;
  }
}

.logo:hover,
.logo:focus,
.logo:active {
  color: var(--style-text-color);
}

.nav-wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 32px;
  margin-right: auto;
}
@media screen and (max-width: 370px) {
  .nav-wrapper {
    margin-left: auto;
    margin-right: 0;
  }
}
@media screen and (min-width: 1024px) {
  .nav-wrapper {
    flex-direction: row;
    align-items: baseline;
    -moz-column-gap: 137px;
         column-gap: 137px;
  }
}
@media screen and (min-width: 1280px) {
  .nav-wrapper {
    -moz-column-gap: 199px;
         column-gap: 199px;
  }
}

.footer-nav .item {
  height: 24px;
}

.footer-nav .item:not(:last-child) {
  margin-bottom: 16px;
}

.footer-nav .link {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--footer-allelement-color);
  transition: color var(--transition-fast);
}

.footer-nav .link:hover,
.footer-nav .link:focus,
.footer-nav .link:active {
  color: var(--style-text-color);
}

.footer__social-list {
  display: flex;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
@media screen and (min-width: 1024px) {
  .footer__social-list {
    flex-direction: column-reverse;
    row-gap: 12px;
  }
}

.footer__social-list .link {
  color: var(--footer-allelement-color);
  border: 0.5px solid var(--footer-allelement-color);
  transition: color var(--transition-fast), border-color var(--transition-fast);
}
@media screen and (max-width: 1023.98px) {
  .footer__social-list .link {
    border: none;
  }
}
@media screen and (min-width: 1024px) {
  .footer__social-list .link {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
@media screen and (min-width: 1024px) {
  .footer__social-list .link {
    width: 143px;
    padding: 8px 12px;
  }
}

.footer__social-list .link:hover,
.footer__social-list .link:focus,
.footer__social-list .link:active {
  color: var(--style-text-color);
  border-color: var(--style-text-color);
}

.footer__social-list .link-name {
  line-height: 1.25;
  letter-spacing: 0.02em;
}
@media screen and (max-width: 1023.98px) {
  .footer__social-list .link-name {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    -webkit-clip-path: inset(100%);
            clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
}

.footer__social-list .social-icon {
  fill: currentColor;
}/*# sourceMappingURL=index.css.map */