@import '~node_modules/modern-normalize/modern-normalize.css';
.hero__address-link, .footer__social-link, .footer__nav-item .footer__nav-link, .footer__logo, .header__phone, .header__nav-link, .header__logo, .btn-look-menu {
  text-decoration: none;
}

.header__social-list {
  list-style: none;
}

@font-face {
  font-family: "FilmP3";
  src: url("../fonts/FilmP3-Bold-700.woff"), url("../fonts/FilmP3-Bold-700.ttf");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Light-300.woff"), url("../fonts/Montserrat-Light-300.ttf");
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Regular-400.woff"), url("../fonts/Montserrat-Regular-400.ttf");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Medium-500.woff"), url("../fonts/Montserrat-Medium-500.ttf");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-SemiBold-600.woff"), url("../fonts/Montserrat-SemiBold-600.ttf");
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Bold-700.ttf"), url("../fonts/Montserrat-Bold-700.ttf");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "TimesNewRoman";
  src: url("../fonts/TimesNewRoman-Regular-400.woff"), url("../fonts/TimesNewRoman-Regular-400.ttf");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "TimesNewRoman";
  src: url("../fonts/TimesNewRoman-Bold-700.woff"), url("../fonts/TimesNewRoman-Bold-700.ttf");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
body {
  font-family: "Montserrat", sans-serif;
  background-color: #fffdee;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
p,
ul {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  padding-left: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.hiden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  max-width: 414px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  outline: 1px solid red;
}
@media screen and (min-width: 1024px) {
  .container {
    max-width: 1024px;
    padding-left: 47px;
    padding-right: 47px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
    padding-left: 85px;
    padding-right: 85px;
  }
}

.social-icon {
  fill: #f3c653;
}
.social-icon:hover, .social-icon:focus, .social-icon:active {
  fill: #c79002;
}

.btn {
  padding: 14px 24px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.02em;
  color: #f3c653;
  background-color: rgba(0, 0, 0, 0.4);
  border: 2px solid #ffffff;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn:hover, .btn:focus, .btn:active {
  background-color: #ffffff;
  border-color: #f3c653;
}

.btn-black {
  background-color: #0e0c07;
}
.btn-black:hover, .btn-black:focus, .btn-black:active {
  background-color: #ffffff;
  border-color: #f3c653;
}

.btn-look-menu {
  padding-left: 32px;
  padding-right: 32px;
}

.btn-look-price {
  padding-left: 37px;
  padding-right: 37px;
}

.btn-details {
  padding-left: 64px;
  padding-right: 64px;
}

.btn-booking {
  padding: 20px 41px;
  font-family: inherit;
  font-weight: 500;
  font-size: 15px;
  line-height: 1.2;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #0e0c07;
  border: 1px solid #f3c653;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-booking:hover, .btn-booking:focus, .btn-booking:active {
  color: #0e0c07;
  background-color: #f3c653;
}
@media screen and (min-width: 414px) {
  .btn-booking {
    font-size: 20px;
  }
}
@media screen and (min-width: 1024px) {
  .btn-booking {
    padding: 18px 38px;
    font-size: 24px;
  }
}

.btn-modal {
  border-radius: 2px;
}
@media screen and (min-width: 1024px) {
  .btn-modal {
    padding-left: 117px;
    padding-right: 117px;
  }
}

.header {
  position: fixed;
  z-index: 100;
  width: 100%;
  -webkit-backdrop-filter: blur(0.8px);
          backdrop-filter: blur(0.8px);
  background: linear-gradient(180deg, #000000 10%, rgba(0, 0, 0, 0.55) 70.3%, rgba(0, 0, 0, 0) 100%);
}
.header__container {
  display: flex;
  align-items: center;
  padding-top: 16px;
  padding-bottom: 16px;
}
@media screen and (min-width: 1024px) {
  .header__container {
    padding-top: 24px;
    padding-bottom: 33px;
  }
}

.header__logo {
  font-family: "FilmP3", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.0833333333;
  letter-spacing: 0.3em;
  color: #ffffff;
  padding-right: 0;
  margin-right: 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 1024px) {
  .header__logo {
    font-size: 40px;
    line-height: 1.075;
  }
}
.header__logo:hover, .header__logo:focus, .header__logo:active {
  color: #f3c653;
}

.header__nav {
  margin-left: auto;
}
@media screen and (min-width: 1280px) {
  .header__nav {
    margin-right: auto;
  }
}

.header__nav-list {
  display: flex;
}
@media screen and (max-width: 370px) {
  .header__nav-list {
    flex-direction: column;
    align-items: flex-end;
  }
}
.header__nav-list .header__nav-item {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 370px) {
  .header__nav-list .header__nav-item:first-child {
    margin-bottom: 8px;
    margin-right: 0;
  }
}
@media screen and (min-width: 371px) {
  .header__nav-list .header__nav-item:first-child {
    margin-right: 20px;
  }
}
@media screen and (min-width: 1024px) {
  .header__nav-list .header__nav-item:first-child {
    margin-right: 72px;
  }
}

.header__nav-link {
  margin-right: 6px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.02em;
  color: #f3c653;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 1024px) {
  .header__nav-link {
    margin-right: 32px;
    font-size: 20px;
    line-height: 1.2;
  }
}
.header__nav-link:hover, .header__nav-link:focus, .header__nav-link:active {
  color: #c79002;
}

.header__phone {
  display: flex;
  align-items: center;
  padding: 0;
  fill: #f3c653;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 1024px) {
  .header__phone {
    padding: 8px;
    border: 1px solid rgba(243, 198, 83, 0.7);
    border-radius: 2px;
  }
}
@media screen and (max-width: 1023px) {
  .header__phone .phone-number {
    display: none;
  }
}
@media screen and (min-width: 1024px) {
  .header__phone .phone-number {
    margin-left: 8px;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.2142857143;
    align-items: center;
    letter-spacing: 0.02em;
    color: #ffffff;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
.header__phone:hover, .header__phone:focus, .header__phone:active {
  fill: #c79002;
  border-color: #c79002;
}
.header__phone:hover .phone-number, .header__phone:focus .phone-number, .header__phone:active .phone-number {
  color: #f3c653;
}

@media screen and (max-width: 1279px) {
  .header__social-list {
    display: none;
  }
}
@media screen and (min-width: 1280px) {
  .header__social-list {
    display: flex;
    align-items: center;
    gap: 20px;
  }
}

.footer {
  background-color: #0e0c07;
}
.footer__container {
  display: flex;
  align-items: center;
  -moz-column-gap: 85px;
       column-gap: 85px;
  padding-top: 40px;
  padding-bottom: 40px;
}
@media screen and (max-width: 370px) {
  .footer__container {
    -moz-column-gap: 0;
         column-gap: 0;
  }
}
@media screen and (min-width: 1024px) {
  .footer__container {
    -moz-column-gap: 163px;
         column-gap: 163px;
    padding-top: 80px;
    padding-bottom: 80px;
  }
}
@media screen and (min-width: 1280px) {
  .footer__container {
    -moz-column-gap: 231px;
         column-gap: 231px;
  }
}

.footer__logo {
  margin-left: auto;
  font-family: "FilmP3", sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 1.075;
  letter-spacing: 0.3em;
  color: #f3c653;
  transition: color var(--transition-fast);
}
@media screen and (max-width: 370px) {
  .footer__logo {
    margin-right: auto;
    margin-left: 0;
  }
}
@media screen and (min-width: 1024px) {
  .footer__logo {
    font-size: 64px;
    line-height: 0.9275362319;
  }
}
.footer__logo:hover, .footer__logo:focus, .footer__logo:active {
  color: #c79002;
}

.footer__wrapper-links {
  display: flex;
  flex-direction: column;
  row-gap: 32px;
  margin-right: auto;
}
@media screen and (max-width: 370px) {
  .footer__wrapper-links {
    margin-left: auto;
    margin-right: 0;
  }
}
@media screen and (min-width: 1024px) {
  .footer__wrapper-links {
    flex-direction: row;
    align-items: baseline;
    -moz-column-gap: 137px;
         column-gap: 137px;
  }
}
@media screen and (min-width: 1280px) {
  .footer__wrapper-links {
    -moz-column-gap: 199px;
         column-gap: 199px;
  }
}

.footer__nav-item:not(:last-child) {
  margin-bottom: 16px;
}
.footer__nav-item .footer__nav-link {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #f3c653;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__nav-item .footer__nav-link:hover, .footer__nav-item .footer__nav-link:focus, .footer__nav-item .footer__nav-link:active {
  color: #c79002;
}

.footer__social-list {
  display: flex;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
@media screen and (min-width: 1024px) {
  .footer__social-list {
    flex-direction: column-reverse;
    row-gap: 12px;
  }
}

.footer__social-link {
  color: #f3c653;
  border: 0.5px solid #f3c653;
  border-radius: 2px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (max-width: 1023px) {
  .footer__social-link {
    border: none;
  }
}
@media screen and (min-width: 1024px) {
  .footer__social-link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 143px;
    padding: 10px 12px;
  }
}
.footer__social-link:hover, .footer__social-link:focus, .footer__social-link:active {
  color: #c79002;
  border-color: #c79002;
}
.footer__social-link .social-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__social-link:hover .social-icon, .footer__social-link:focus .social-icon, .footer__social-link:active .social-icon {
  fill: #c79002;
}

.footer__link-name {
  line-height: 1.25;
  letter-spacing: 0.02em;
}
@media screen and (max-width: 1023px) {
  .footer__link-name {
    display: none;
  }
}

.hero-homepage {
  background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(../images/hero/homepage/hero-homepage-mobile.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgba(0, 0, 0, 0.65);
}
@media screen and (min-device-pixel-ratio: 2) and (max-width: 414px), screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 414px), screen and (min-resolution: 192dpi) and (max-width: 414px), screen and (min-resolution: 2dppx) and (max-width: 414px) {
  .hero-homepage {
    background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(../images/hero/homepage/hero-homepage-mobile@2x.jpg);
  }
}
@media screen and (min-width: 1024px) {
  .hero-homepage {
    background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(../images/hero/homepage/hero-homepage-tablet.jpg);
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 1024px), screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 1024px), screen and (min-resolution: 192dpi) and (min-width: 1024px), screen and (min-resolution: 2dppx) and (min-width: 1024px) {
  .hero-homepage {
    background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(../images/hero/homepage/hero-homepage-tablet@2x.jpg);
  }
}
@media screen and (min-width: 1280px) {
  .hero-homepage .hero-homepage {
    background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(../images/hero/homepage/hero-homepage-desktop.jpg);
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 1280px), screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 1280px), screen and (min-resolution: 192dpi) and (min-width: 1280px), screen and (min-resolution: 2dppx) and (min-width: 1280px) {
  .hero-homepage .hero-homepage {
    background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(../images/hero/homepage/hero-homepage-desktop@2x.jpg);
  }
}

.hero-container {
  position: relative;
  padding-top: 181px;
  padding-bottom: 20px;
}
@media screen and (min-width: 1024px) {
  .hero-container {
    padding-top: 188px;
    padding-bottom: 15px;
  }
}
@media screen and (min-width: 1280px) {
  .hero-container {
    padding-top: 164px;
    padding-bottom: 64px;
  }
}

.hero__wrapper-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 113px;
}
@media screen and (min-width: 1024px) {
  .hero__wrapper-text {
    margin-bottom: 137px;
  }
}

.hero__title {
  margin-bottom: 24px;
  font-family: "FilmP3", sans-serif;
  font-weight: 700;
  font-size: 96px;
  line-height: 1.0729166667;
  letter-spacing: 0.3em;
  color: #ffffff;
  margin-left: 28.8;
}
@media screen and (max-width: 370px) {
  .hero__title {
    font-size: 84px;
  }
}
@media screen and (min-width: 1024px) {
  .hero__title {
    margin-bottom: 16px;
    font-size: 128px;
    line-height: 1.078125;
    margin-left: 38.4;
  }
}

.hero__subtitle {
  margin-bottom: 40px;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.02em;
  color: #ffffff;
}
@media screen and (min-width: 1024px) {
  .hero__subtitle {
    margin-bottom: 56px;
    font-size: 20px;
    line-height: 1.2;
  }
}
@media screen and (min-width: 1280px) {
  .hero__subtitle {
    margin-bottom: 64px;
  }
}

.hero__slogan {
  font-family: var(--font-secondary);
  font-weight: 700;
  font-size: 32px;
  line-height: 1.15625;
  letter-spacing: 0.05em;
  color: #ffffff;
}
@media screen and (max-width: 370px) {
  .hero__slogan {
    font-size: 24px;
  }
}
@media screen and (min-width: 1024px) {
  .hero__slogan {
    font-size: 36px;
    line-height: 1.1388888889;
  }
}

.hero__wrapper-BtnAdress {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 58px;
}
@media screen and (min-width: 1024px) {
  .hero__wrapper-BtnAdress {
    flex-direction: row;
    align-items: flex-end;
    margin-bottom: 25px;
  }
}
@media screen and (min-width: 1280px) {
  .hero__wrapper-BtnAdress {
    margin-bottom: 0;
  }
}

.hero__address-link {
  display: flex;
  align-items: center;
  padding-top: 9px;
  padding-bottom: 9px;
  padding-left: 6px;
  padding-right: 6px;
  border: 1px solid rgba(243, 198, 83, 0.7);
  border-radius: 2px;
  transition: border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero__address-link:hover, .hero__address-link:focus, .hero__address-link:active {
  border-radius: 50px;
  border-color: #ffffff;
  background-color: rgba(0, 0, 0, 0.4);
}
@media screen and (max-width: 370px) {
  .hero__address-link {
    position: absolute;
    top: 94px;
    right: 21px;
  }
}
@media screen and (min-width: 371px) and (max-width: 1023px) {
  .hero__address-link {
    position: absolute;
    top: 74px;
    right: 15px;
  }
}
@media screen and (min-width: 1024px) {
  .hero__address-link {
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 10px;
    padding-right: 16px;
  }
}
.hero__address-link .location-icon {
  margin-right: 8px;
  width: 20px;
  height: 20px;
  fill: #f3c653;
}
@media screen and (min-width: 1024px) {
  .hero__address-link .location-icon .location-icon {
    margin-right: 10px;
    width: 24px;
    height: 24px;
  }
}
.hero__address-link address {
  font-size: 12px;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: 0.01em;
  color: #e5e5e5;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 1024px) {
  .hero__address-link address {
    font-size: 16px;
    line-height: 1.25;
  }
}
.hero__address-link:hover address, .hero__address-link:focus address, .hero__address-link:active address {
  color: #f3c653;
}

.hero__btn-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}
@media screen and (min-width: 1024px) {
  .hero__btn-list {
    margin-left: auto;
    flex-direction: row;
    align-items: baseline;
    gap: 40px;
  }
}
@media screen and (min-width: 1280px) {
  .hero__btn-list {
    gap: 60px;
  }
}

.hero__social-list {
  display: flex;
  gap: 20px;
}
@media screen and (min-width: 1280px) {
  .hero__social-list {
    display: none;
  }
}/*# sourceMappingURL=index.css.map */