.wrapper-secondary {
  &.hotel {
    justify-content: flex-end;
  }
}

.interior-main {
  &.hotel img {
    @media screen and (max-width: 1023px) {
      margin-left: 0;
    }
  }

  &.hotel {
    @media screen and (min-width: 1024px) {
      left: 112px;
    }

    @media screen and (min-width: 1280px) {
      left: 180px;
    }
  }
}

.main-info {
  &__subtitle.hotel {
    text-align: end;
  }

  &__name.hotel {
    text-align: end;
    margin-right: calc(-40 * 0.3); //виправлення багу шрифта

    @media screen and (min-width: 1024px) {
      margin-right: calc(-64 * 0.3); //виправлення багу шрифта
    }
  }

  &__description.hotel {
    margin-left: auto;
    max-width: 242px;

    @media screen and (min-width: 1024px) {
      max-width: 419px;
    }

    @media screen and (min-width: 1280px) {
      max-width: 489px;
    }
  }
}
