.details-hotel {
  position: relative;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(../images/details-hotel/bgr-img-mobile.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  @media screen and (min-device-pixel-ratio: 2) and (max-width: 1023px),
    screen and (min-resolution: 192dpi) and (max-width: 1023px),
    screen and (min-resolution: 2dppx) and (max-width: 1023px) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
      url(../images/details-hotel/bgr-img-mobile@2x.jpg);
  }

  @media screen and (min-width: 1024px) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
      url(../images/details-hotel/bgr-img-tablet.jpg);
  }

  @media screen and (min-device-pixel-ratio: 2) and (min-width: 1024px),
    screen and (min-resolution: 192dpi) and (min-width: 1024px),
    screen and (min-resolution: 2dppx) and (min-width: 1024px) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
      url(../images/details-hotel/bgr-img-tablet@2x.jpg);
  }

  @media screen and (min-width: 1280px) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
      url(../images/details-hotel/bgr-img-desktop.jpg);
  }

  @media screen and (min-device-pixel-ratio: 2) and (min-width: 1280px),
    screen and (min-resolution: 192dpi) and (min-width: 1280px),
    screen and (min-resolution: 2dppx) and (min-width: 1280px) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
      url(../images/details-hotel/bgr-img-desktop@2x.jpg);
  }
}

// додаткова стилізація контейнеру секції
.details-hotel__container {
  position: relative;
  padding-top: 24px;
  padding-bottom: 40px;
  padding-right: 40px;

  @media screen and (max-width: 1023px) {
    padding-left: 32px;
  }

  @media screen and (min-width: 1024px) {
    padding-top: 48px;
  }
}

.details-hotel__text {
  margin-bottom: 48px;
  max-width: 259px;

  font-weight: 600;
  font-size: 12px;
  line-height: calc(15 / 12);
  letter-spacing: 0.02em;
  color: $fonts-color-BABABA;
  text-align: left;

  @media screen and (min-width: 1024px) {
    margin-bottom: 40px;
    max-width: 549px;

    font-size: 16px;
    line-height: calc(20 / 16);
  }

  @media screen and (min-width: 1280px) {
    max-width: 595px;
  }
}

// позиціонування списку модальних кнопок
.btn-list__hotel {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media screen and (min-width: 1024px) {
    position: absolute;
    right: 47px;
    bottom: 96px;
  }

  @media screen and (min-width: 1280px) {
    right: 85px;
    bottom: 94px;
  }
}

// стилізація кнопок слайдера
.swiper-btn__details-hotel {
  display: flex;
  gap: 32px;
  justify-content: flex-start;

  .details-hotel__next,
  .details-hotel__prev {
    padding: 0;

    fill: $fonts-color-ffffff;
    line-height: 0;
    background-color: transparent;
    border: none;
    outline: none;

    transition: fill $transition-fast;

    cursor: pointer;
  }

  .details-hotel__next:hover,
  .details-hotel__next:focus,
  .details-hotel__next:active,
  .details-hotel__prev:hover,
  .details-hotel__prev:focus,
  .details-hotel__prev:active {
    fill: $color-text-btn;
  }
}
