<section class="about">
  <div class="about__container container">
    <h2 class="about__title hiden">About restaurant</h2>
    <!-- головний блок контенту -->
    <div class="wrapper-main">
      <div class="main-info">
        <h3 class="main-info__subtitle hotel">Amet minim mollit non</h3>
        <p class="main-info__name hotel">MIMIHO</p>
        <p class="main-info__description hotel">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit. Exercitation
          veniam consequat sunt nostrud amet.
        </p>
      </div>
      <div class="interior-main hotel">
        <picture>
          <source
            media="(min-width: 1280px)"
            srcset="
              ./images/about-hotel/interior-desktop-1.jpg    1x,
              ./images/about-hotel/interior-desktop-1@2x.jpg 2x
            "
            type="image/jpg"
          />
          <source
            media="(min-width: 1024px)"
            srcset="
              ./images/about-hotel/interior-tablet-1.jpg    1x,
              ./images/about-hotel/interior-tablet-1@2x.jpg 2x
            "
            type="image/jpg"
          />
          <img
            srcset="./images/about-hotel/interior-mobile-1@2x.jpg 2x"
            src="./images/about-hotel/interior-mobile-1.jpg"
            alt="restaurant interior room 1"
            loading="lazy"
          />
        </picture>
      </div>
    </div>

    <!-- другорядний блок контенту -->
    <div class="wrapper-secondary hotel">
      <p class="secondary__description">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit. Exercitation
        veniam consequat sunt nostrud amet.
      </p>
      <div class="interior-secondary">
        <picture>
          <source
            media="(min-width: 1280px)"
            srcset="
              ./images/about-hotel/interior-desktop-2.jpg    1x,
              ./images/about-hotel/interior-desktop-2@2x.jpg 2x
            "
            type="image/jpg"
          />
          <source
            media="(min-width: 1024px)"
            srcset="
              ./images/about-hotel/interior-tablet-2.jpg    1x,
              ./images/about-hotel/interior-tablet-2@2x.jpg 2x
            "
            type="image/jpg"
          />
          <img
            srcset="./images/about-hotel/interior-mobile-2@2x.jpg 2x"
            src="./images/about-hotel/interior-mobile-2.jpg"
            alt="restaurant interior room 2"
            loading="lazy"
          />
        </picture>
      </div>
    </div>
  </div>
</section>
