<section class="about">
  <div class="about__container container">
    <h2 class="about__title hiden">About restaurant</h2>
    <!-- головний блок контенту -->
    <div class="wrapper-main">
      <div class="main-info">
        <h3 class="main-info__subtitle hotel">Amet minim mollit non</h3>
        <p class="main-info__name hotel">MIMIHO</p>
        <p class="main-info__description hotel">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit. Exercitation
          veniam consequat sunt nostrud amet.
        </p>
      </div>
      <div class="interior-main hotel">
        <picture>
          <source
            media="(min-width: 1280px)"
            srcset="
              ./images/about-hotel/interior-desktop-1.jpg    1x,
              ./images/about-hotel/interior-desktop-1@2x.jpg 2x
            "
            type="image/jpg"
          />
          <source
            media="(min-width: 1024px)"
            srcset="
              ./images/about-hotel/interior-tablet-1.jpg    1x,
              ./images/about-hotel/interior-tablet-1@2x.jpg 2x
            "
            type="image/jpg"
          />
          <img
            srcset="./images/about-hotel/interior-mobile-1@2x.jpg 2x"
            src="./images/about-hotel/interior-mobile-1.jpg"
            alt="restaurant interior room 1"
            loading="lazy"
          />
        </picture>
      </div>
    </div>

    <!-- другорядний блок контенту -->
    <div class="wrapper-secondary hotel">
      <p class="secondary__description">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit. Exercitation
        veniam consequat sunt nostrud amet.
      </p>
      <div class="interior-secondary">
        <picture>
          <source
            media="(min-width: 1280px)"
            srcset="
              ./images/about-hotel/interior-desktop-2.jpg    1x,
              ./images/about-hotel/interior-desktop-2@2x.jpg 2x
            "
            type="image/jpg"
          />
          <source
            media="(min-width: 1024px)"
            srcset="
              ./images/about-hotel/interior-tablet-2.jpg    1x,
              ./images/about-hotel/interior-tablet-2@2x.jpg 2x
            "
            type="image/jpg"
          />
          <img
            srcset="./images/about-hotel/interior-mobile-2@2x.jpg 2x"
            src="./images/about-hotel/interior-mobile-2.jpg"
            alt="restaurant interior room 2"
            loading="lazy"
          />
        </picture>
      </div>
    </div>

    <!-- СЛАЙДЕР -->
    <!-- загальний контейнер слайдеру та кнопок керування -->
    <div class="slider-wrapper__about hotel">
      <!-- обгортка слайдеру -->
      <div class="swiper slider__about">
        <div class="swiper-wrapper about-hotel">
          <div class="swiper-slide">
            <picture>
              <source
                media="(min-width: 1280px)"
                srcset="
                  ./images/about-hotel/slider/picture-desktop-1.jpg    1x,
                  ./images/about-hotel/slider/picture-desktop-1@2x.jpg 2x
                "
                type="image/jpeg"
              />

              <source
                media="(min-width: 1024px)"
                srcset="
                  ./images/about-hotel/slider/picture-tablet-1.jpg    1x,
                  ./images/about-hotel/slider/picture-tablet-1@2x.jpg 2x
                "
                type="image/jpeg"
              />

              <img
                srcset="./images/about-hotel/slider/picture-mobile-1@2x.jpg 2x"
                src="./images/about-hotel/slider/picture-mobile-1.jpg"
                alt="picture"
              />
            </picture>
          </div>
          <div class="swiper-slide">
            <picture>
              <source
                media="(min-width: 1280px)"
                srcset="
                  ./images/about-hotel/slider/picture-desktop-2.jpg    1x,
                  ./images/about-hotel/slider/picture-desktop-2@2x.jpg 2x
                "
                type="image/jpeg"
              />

              <source
                media="(min-width: 1024px)"
                srcset="
                  ./images/about-hotel/slider/picture-tablet-2.jpg    1x,
                  ./images/about-hotel/slider/picture-tablet-2@2x.jpg 2x
                "
                type="image/jpeg"
              />

              <img
                srcset="./images/about-hotel/slider/picture-mobile-2@2x.jpg 2x"
                src="./images/about-hotel/slider/picture-mobile-2.jpg"
                alt="picture"
              />
            </picture>
          </div>
          <div class="swiper-slide">
            <picture>
              <source
                media="(min-width: 1280px)"
                srcset="
                  ./images/about-hotel/slider/picture-desktop-3.jpg    1x,
                  ./images/about-hotel/slider/picture-desktop-3@2x.jpg 2x
                "
                type="image/jpeg"
              />

              <source
                media="(min-width: 1024px)"
                srcset="
                  ./images/about-hotel/slider/picture-tablet-3.jpg    1x,
                  ./images/about-hotel/slider/picture-tablet-3@2x.jpg 2x
                "
                type="image/jpeg"
              />

              <img
                srcset="./images/about-hotel/slider/picture-mobile-3@2x.jpg 2x"
                src="./images/about-hotel/slider/picture-mobile-3.jpg"
                alt="picture"
              />
            </picture>
          </div>
          <div class="swiper-slide">
            <picture>
              <source
                media="(min-width: 1280px)"
                srcset="
                  ./images/about-hotel/slider/picture-desktop-4.jpg    1x,
                  ./images/about-hotel/slider/picture-desktop-4@2x.jpg 2x
                "
                type="image/jpeg"
              />

              <source
                media="(min-width: 1024px)"
                srcset="
                  ./images/about-hotel/slider/picture-tablet-4.jpg    1x,
                  ./images/about-hotel/slider/picture-tablet-4@2x.jpg 2x
                "
                type="image/jpeg"
              />

              <img
                srcset="./images/about-hotel/slider/picture-mobile-4@2x.jpg 2x"
                src="./images/about-hotel/slider/picture-mobile-4.jpg"
                alt="picture"
              />
            </picture>
          </div>
          <div class="swiper-slide">
            <picture>
              <source
                media="(min-width: 1280px)"
                srcset="
                  ./images/about-hotel/slider/picture-desktop-5.jpg    1x,
                  ./images/about-hotel/slider/picture-desktop-5@2x.jpg 2x
                "
                type="image/jpeg"
              />

              <source
                media="(min-width: 1024px)"
                srcset="
                  ./images/about-hotel/slider/picture-tablet-5.jpg    1x,
                  ./images/about-hotel/slider/picture-tablet-5@2x.jpg 2x
                "
                type="image/jpeg"
              />

              <img
                srcset="./images/about-hotel/slider/picture-mobile-5@2x.jpg 2x"
                src="./images/about-hotel/slider/picture-mobile-5.jpg"
                alt="picture"
              />
            </picture>
          </div>
          <div class="swiper-slide">
            <picture>
              <source
                media="(min-width: 1280px)"
                srcset="
                  ./images/about-hotel/slider/picture-desktop-6.jpg    1x,
                  ./images/about-hotel/slider/picture-desktop-6@2x.jpg 2x
                "
                type="image/jpeg"
              />

              <source
                media="(min-width: 1024px)"
                srcset="
                  ./images/about-hotel/slider/picture-tablet-6.jpg    1x,
                  ./images/about-hotel/slider/picture-tablet-6@2x.jpg 2x
                "
                type="image/jpeg"
              />

              <img
                srcset="./images/about-hotel/slider/picture-mobile-6@2x.jpg 2x"
                src="./images/about-hotel/slider/picture-mobile-6.jpg"
                alt="picture"
              />
            </picture>
          </div>
        </div>
      </div>
      <!-- кнопки слайдера -->
      <div class="swiper-btn__about hotel">
        <button class="about__prev hotel" type="button">
          <svg width="32" height="32">
            <use href="./images/icons.svg#arrow-left"></use>
          </svg>
        </button>
        <button class="about__next hotel" type="button">
          <svg width="32" height="32">
            <use href="./images/icons.svg#arrow-right"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
