<section class="details-hotel">
  <div class="details-hotel__container container">
    <!-- обгортка блоків тексту та слайдеру -->
    <div class="details__wrapper hotel">
      <!-- обгортка тексту -->
      <div class="details__wrapper-text hotel">
        <p class="details__logo hotel">MIMIHO</p>
        <h2 class="details__title">Готель</h2>
        <p class="details-hotel__text">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit.
        </p>
      </div>

      <!-- СЛАЙДЕР -->
      <!-- загальний контейнер слайдеру та кнопок керування -->
      <div class="slider-wrapper__details hotel">
        <!-- обгортка слайдеру -->
        <div class="swiper slider__details">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <picture>
                <source
                  media="(min-width: 1280px)"
                  srcset="
                    ./images/details-hotel/slider/picture-desktop-1.jpg    1x,
                    ./images/details-hotel/slider/picture-desktop-1@2x.jpg 2x
                  "
                  type="image/jpeg"
                />

                <source
                  media="(min-width: 1024px)"
                  srcset="
                    ./images/details-hotel/slider/picture-tablet-1.jpg    1x,
                    ./images/details-hotel/slider/picture-tablet-1@2x.jpg 2x
                  "
                  type="image/jpeg"
                />

                <img
                  class="swiper-slide-img"
                  srcset="
                    ./images/details-hotel/slider/picture-mobile-1@2x.jpg 2x
                  "
                  src="./images/details-hotel/slider/picture-mobile-1.jpg"
                  alt="picture"
                  width="274"
                  height="270"
                />
              </picture>
            </div>
            <div class="swiper-slide">
              <picture>
                <source
                  media="(min-width: 1280px)"
                  srcset="
                    ./images/details-hotel/slider/picture-desktop-12.jpg    1x,
                    ./images/details-hotel/slider/picture-desktop-12@2x.jpg 2x
                  "
                  type="image/jpeg"
                />

                <source
                  media="(min-width: 1024px)"
                  srcset="
                    ./images/details-hotel/slider/picture-desktop-12.jpg    1x,
                    ./images/details-hotel/slider/picture-desktop-12@2x.jpg 2x
                  "
                  type="image/jpeg"
                />

                <img
                  class="swiper-slide-img"
                  srcset="
                    ./images/details-hotel/slider/picture-mobile-12@2x.jpg 2x
                  "
                  src="./images/details-hotel/slider/picture-mobile-12.jpg"
                  alt="picture"
                  width="274"
                  height="270"
                />
              </picture>
            </div>
            <div class="swiper-slide">
              <picture>
                <source
                  media="(min-width: 1280px)"
                  srcset="
                    ./images/details-hotel/slider/picture-desktop-13.jpg    1x,
                    ./images/details-hotel/slider/picture-desktop-13@2x.jpg 2x
                  "
                  type="image/jpeg"
                />

                <source
                  media="(min-width: 1024px)"
                  srcset="
                    ./images/details-hotel/slider/picture-desktop-13.jpg    1x,
                    ./images/details-hotel/slider/picture-desktop-13@2x.jpg 2x
                  "
                  type="image/jpeg"
                />

                <img
                  class="swiper-slide-img"
                  srcset="
                    ./images/details-hotel/slider/picture-mobile-13@2x.jpg 2x
                  "
                  src="./images/details-hotel/slider/picture-mobile-13.jpg"
                  alt="picture"
                  width="274"
                  height="270"
                />
              </picture>
            </div>
            <div class="swiper-slide">
              <picture>
                <source
                  media="(min-width: 1280px)"
                  srcset="
                    ./images/details-hotel/slider/picture-desktop-1.jpg    1x,
                    ./images/details-hotel/slider/picture-desktop-1@2x.jpg 2x
                  "
                  type="image/jpeg"
                />
                <source
                  media="(min-width: 1024px)"
                  srcset="
                    ./images/details-hotel/slider/picture-tablet-1.jpg    1x,
                    ./images/details-hotel/slider/picture-tablet-1@2x.jpg 2x
                  "
                  type="image/jpeg"
                />
                <img
                  class="swiper-slide-img"
                  srcset="
                    ./images/details-hotel/slider/picture-mobile-1@2x.jpg 2x
                  "
                  src="./images/details-hotel/slider/picture-mobile-1.jpg"
                  alt="picture"
                  width="274"
                  height="270"
                />
              </picture>
            </div>
            <div class="swiper-slide">
              <picture>
                <source
                  media="(min-width: 1280px)"
                  srcset="
                    ./images/details-hotel/slider/picture-desktop-12.jpg    1x,
                    ./images/details-hotel/slider/picture-desktop-12@2x.jpg 2x
                  "
                  type="image/jpeg"
                />

                <source
                  media="(min-width: 1024px)"
                  srcset="
                    ./images/details-hotel/slider/picture-desktop-12.jpg    1x,
                    ./images/details-hotel/slider/picture-desktop-12@2x.jpg 2x
                  "
                  type="image/jpeg"
                />

                <img
                  class="swiper-slide-img"
                  srcset="
                    ./images/details-hotel/slider/picture-mobile-12@2x.jpg 2x
                  "
                  src="./images/details-hotel/slider/picture-mobile-12.jpg"
                  alt="picture"
                  width="274"
                  height="270"
                />
              </picture>
            </div>
            <div class="swiper-slide">
              <picture>
                <source
                  media="(min-width: 1280px)"
                  srcset="
                    ./images/details-hotel/slider/picture-desktop-13.jpg    1x,
                    ./images/details-hotel/slider/picture-desktop-13@2x.jpg 2x
                  "
                  type="image/jpeg"
                />
                <source
                  media="(min-width: 1024px)"
                  srcset="
                    ./images/details-hotel/slider/picture-desktop-13.jpg    1x,
                    ./images/details-hotel/slider/picture-desktop-13@2x.jpg 2x
                  "
                  type="image/jpeg"
                />

                <img
                  class="swiper-slide-img"
                  srcset="
                    ./images/details-hotel/slider/picture-mobile-13@2x.jpg 2x
                  "
                  src="./images/details-hotel/slider/picture-mobile-13.jpg"
                  alt="picture"
                  width="274"
                  height="270"
                />
              </picture>
            </div>
          </div>
        </div>
        <!-- кнопки слайдера -->
        <div class="swiper-btn__details-hotel">
          <button class="details-hotel__prev" type="button">
            <svg width="32" height="32">
              <use href="./images/icons.svg#arrow-left"></use>
            </svg>
          </button>
          <button class="details-hotel__next" type="button">
            <svg width="32" height="32">
              <use href="./images/icons.svg#arrow-right"></use>
            </svg>
          </button>
        </div>
      </div>
    </div>

    <!-- список з кнопками модальних вікон -->
    <ul class="btn-list__hotel">
      <li class="btn-item">
        <button
          class="btn js-open-modal"
          type="button"
          aria-label="Кнопка бронювання номеру"
          data-modal="2"
        >
          Забронювати номер
        </button>
      </li>
      <li class="btn-item">
        <a
          class="btn btn-look-menu"
          href="./hotel-page.html"
          aria-label="Кнопка посилання до пергляду цін"
        >
          Переглянути ціни</a
        >
      </li>
    </ul>
  </div>
</section>
