.about {
  padding-top: 16px;
  padding-bottom: 20px;

  @media screen and (min-width: 1024px) {
    padding-top: 120px;
    padding-bottom: 32px;
  }

  @media screen and (min-width: 1280px) {
    padding-bottom: 50px;
  }
}

// додаткові налаштування контейнеру
.about__container {
  position: relative;
  padding-bottom: 329px;
  

  @media screen and (max-width: 1023px) {
    overflow: hidden;
  }

  @media screen and (min-width: 1024px) {
    padding-right: 60px;
    padding-bottom: 230px;
  }

  @media screen and (min-width: 1280px) {
    padding-bottom: 175px;
  }
}

// стилізація контенту головного блоку
.wrapper-main {
  margin-bottom: 32px;

  @media screen and (min-width: 1024px) {
    margin-bottom: 142px;
  }

  @media screen and (min-width: 1280px) {
    margin-bottom: 162px;
  }
}

.main-info {
  @media screen and (max-width: 1023px) {
    margin-bottom: 32px;
  }

  &__subtitle {
    margin-bottom: 12px;

    font-family: $font-secondary;
    font-weight: 400;
    font-size: 20px;
    line-height: calc(23 / 20);
    color: $fonts-color-b4b4b4;

    @media screen and (min-width: 1024px) {
      margin-bottom: 4px;

      font-size: 32px;
      line-height: calc(37 / 32);
    }
  }

  &__name {
    margin-bottom: 12px;

    font-family: $font-logo;
    font-weight: 700;
    font-size: 40px;
    line-height: calc(43 / 40);
    letter-spacing: 0.3em;
    color: $fonts-color-494848;

    @media screen and (min-width: 1024px) {
      margin-bottom: 24px;

      font-size: 64px;
      line-height: calc(69 / 64);
    }
  }

  &__description {
    max-width: 258px;

    font-family: $font-main;
    font-weight: 600;
    font-size: 12px;
    line-height: calc(15 / 12);
    letter-spacing: 0.02em;
    color: $fonts-color-5f5f5f;

    @media screen and (min-width: 1024px) {
      max-width: 439px;

      line-height: calc(20 / 16);
      font-size: 16px;
    }

    @media screen and (min-width: 1280px) {
      max-width: 518px;
    }
  }

  // для секції about-hotel
  &__subtitle.hotel {
    text-align: end;
  }

  &__name.hotel {
    text-align: end;
    margin-right: calc(-40 * 0.3); //виправлення багу шрифта

    @media screen and (min-width: 1024px) {
      margin-right: calc(-64 * 0.3); //виправлення багу шрифта
    }
  }

  &__description.hotel {
    margin-left: auto;
    max-width: 242px;

    @media screen and (min-width: 1024px) {
      max-width: 419px;
    }

    @media screen and (min-width: 1280px) {
      max-width: 489px;
    }
  }
}

.interior-main {
  img {
    background: $picture-background;
    box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
    border-radius: 2px;

    @media screen and (max-width: 1023px) {
      margin-left: auto;
    }

    @media screen and (min-width: 1024px) {
      box-shadow: 5px 5px 70px 17px rgba(0, 0, 0, 0.25);
    }
  }

  @media screen and (min-width: 1024px) {
    position: absolute;
    top: -152px;
    right: 112px;
  }

  @media screen and (min-width: 1280px) {
    right: 180px;
  }

  // для секції about-hotel
  &.hotel img {
    @media screen and (max-width: 1023px) {
      margin-left: 0;
    }
  }

  &.hotel {
    @media screen and (min-width: 1024px) {
      left: 112px;
    }

    @media screen and (min-width: 1280px) {
      left: 180px;
    }
  }
}

// стилізація контенту другорядного блоку
.wrapper-secondary {
  display: flex;
  column-gap: 20px;

  @media screen and (min-width: 1024px) {
    column-gap: 48px;
  }

  @media screen and (min-width: 1280px) {
    column-gap: 32px;
  }

  // для секції about-hotel
  &.hotel {
    justify-content: flex-end;
  }
}

.interior-secondary {
  img {
    background: $picture-background;
    box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
    border-radius: 2px;

    @media screen and (min-width: 1024px) {
      box-shadow: 5px 5px 70px 17px rgba(0, 0, 0, 0.25);
    }
  }
}

.secondary__description {
  margin-top: 70px;
  max-width: 163px;

  font-family: $font-main;
  font-weight: 600;
  font-size: 12px;
  line-height: calc(15 / 12);
  letter-spacing: 0.02em;
  color: $fonts-color-c79002;

  @media screen and (min-width: 1024px) {
    max-width: 312px;
    margin-top: 196px;

    font-size: 16px;
    line-height: calc(20 / 16);
  }

  @media screen and (min-width: 1280px) {
    margin-top: 186px;
  }
}
