// налаштування контейнеру
.container {
  max-width: 414px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;

  outline: 1px solid red;

  @media screen and (min-width: 1024px) {
    max-width: 1024px;
    padding-left: 47px;
    padding-right: 47px;
  }

  @media screen and (min-width: 1280px) {
    max-width: 1280px;
    padding-left: 85px;
    padding-right: 85px;
  }
}
