// загальний контейнер слайдеру та кнопок керування
.slider-wrapper__details {
  margin-bottom: 32px;

  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 374px; //ширина контейнеру слайдера
  overflow: hidden;

  &.hotel {
    align-items: flex-end; // перемикач кнопок керування з ліва на право
  }

  @media screen and (min-width: 1024px) {
    margin-left: auto;
    margin-bottom: 0;
    width: 662px; //ширина контейнеру слайдера

    gap: 24px;

    &.hotel {
      margin-right: auto;
      margin-left: 0;
    }
  }

  @media screen and (min-width: 1280px) {
    width: 855px; //ширина контейнеру слайдера
  }
}

// розміри обгортки слайдеру (ширина виводимих зображень та відступів)
.slider__details {
  width: 568px;

  @media screen and (min-width: 1024px) {
    width: 878px;
  }

  @media screen and (min-width: 1280px) {
    width: 984px;
  }
}

// зміщення фокусу зображень слайдеру в лівий край
.swiper-wrapper.details-hotel {
  margin-left: 100px;

  @media screen and(min-width: 1024px) {
    margin-left: 88px;
  }

  @media screen and(min-width: 1280px) {
    margin-left: 228px;
  }
}

// стилізація кнопок слайдера
.swiper-btn__details {
  display: flex;
  gap: 32px;
  justify-content: flex-start;

  .details__next,
  .details__prev {
    padding: 0;

    fill: $fonts-color-ffffff;
    line-height: 0;
    background-color: transparent;
    border: none;
    outline: none;

    transition: fill $transition-fast;

    cursor: pointer;
  }

  .details__next:hover,
  .details__next:focus,
  .details__next:active,
  .details__prev:hover,
  .details__prev:focus,
  .details__prev:active {
    fill: $color-text-btn;
  }
}
